{% extends "shop/base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Your orders" %}{% endblock %}

{% block content %}
    <h1>{% trans "Your orders" %}</h1>
    <div>
        <ul class="order_list">
            {% for order in order_list %}
                <li>
                    <a href="{% url 'orders:order_redirect' order.id %}">{% trans "Order" %}  №{{ order.id }}.</a>
                </li>
            {% empty %}
                {% trans "You have no orders yet." %}
            {% endfor %}
        </ul>
    </div>
{% endblock %}